{% extends "header.html" %}

<head>

    <title> Overwatch </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style type="text/css">
        #mainNav {
            background-color: black;
        }
        
        header .htop {
            position: relative;
            margin-top: 50px;
            width: 100%;
            text-align: center;
            min-height: auto;
            background-image: url(http://lorempixel.com/output/sports-q-c-900-700-10.jpg);
            color: white;
            background-size: cover;
            font-size: 1em;
            padding: 3em;
        }
    </style>

</head>

{% block body %}

<br>
<br>
<br>
<br>
<h5> Welcome to Overwatch </h5>

<section id='LoL'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 text-center'>
                <h3>Stream</h3>

                <script src="http://player.twitch.tv/js/embed/v1.js"></script>
                <div id="League"></div>
                <script type="text/javascript">
                    var options = {
                        width: 700,
                        height: 405,
                        channel: "imaqtpie",
                    };
                    var player = new Twitch.Player("League", options);
                    player.setVolume(0.5);
                </script>

                <p>Work Work</p>
            </div>
        </div>
    </div>
</section>

<div class='row'>
    <div class='col-md-6 text-center'>
        <h3>Stats</h3>
        <p>Work Work</p>
    </div>
    <div class='col-md-6 text-center'>
        <h3>Line</h3>
        <div class='col-md-3'>
            <button class="btn btn-primary" data-toggle="modal" data-target=".left-team-modal"> Selfless -150 </button>

            <div class="modal fade left-team-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div id="login-overlay" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class='well'>
                                        <div class='col'>
                                            <form id="betSlip" method="POST" action="/overwatch/" novalidate="novalidate">
                                                <div class="form-group">
                                                    <label for="risk" class="control-label">Risk</label>
                                                    <input type="text" class="form-control" id="username" name="username" value="" required="" title="Amount to Risk" placeholder="Place bet amount here">
                                                    <span class="help-block"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="towin" class="control-label">To Win</label>
                                                    <input type="towin" class="form-control" id="towin" name="towin" value="" required="" title="Amount to win">
                                                    <span class="help-block"></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <button class="btn btn-primary" data-toggle="modal" data-target=".right-team-modal"> Rogue +130 </button>

            <div class="modal fade right-team-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div id="login-overlay" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class='well'>
                                        <div class='col'>
                                            <form id="betSlip" method="POST" action="/overwatch/" novalidate="novalidate">
                                                <div class="form-group">
                                                    <label for="risk" class="control-label">Risk</label>
                                                    <input type="text" class="form-control" id="username" name="username" value="" required="" title="Amount to Risk" placeholder="Place bet amount here">
                                                    <span class="help-block"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="towin" class="control-label">To Win</label>
                                                    <input type="towin" class="form-control" id="towin" name="towin" value="" required="" title="Amount to win">
                                                    <span class="help-block"></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Work Work</p>
            </div>
        </div>

        {% endblock %}